.Portfolio{
    height: 100vh;
    background-color: #effaf9;
    width: 100vw;
    display: flex;
}

.SideNavBar{
    height: 100vh;
    background-color: white;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0;
}

.navProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.navProfile img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #a5a6ff;
    margin-bottom: 30px;
}

.navProfile h2{
    font-family: var(--font-Inter);
    font-size: 30px;
}

.navProfile h1{ 
    position: absolute;
    bottom: -30px;
    font-family: var(--font-Kristi);
    font-size: 80px;
    opacity: 0.1 ;

}
.navMenu, .navSocialMedia {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navMenu p{
    font-family: var(--font-quickSand);
    margin: 10px 0;
    transition: all 0.5s;
}

.navMenu p:hover {
    color: #a5a6ff;
}

.navSocialMedia p{
    font-family: var(--font-quickSand);
}

.socialMediaIcons {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
}

.socialMediaIcon{
    font-size: 30px;
}